@import "root";
@import "paper";
@import "html";

#mainContainer {
  margin: 0;
  padding: 0;
  min-height: 100%;
  color: var(--snw-text-color);
  background-color: var(--snw-secondary-color);
  font-family: var(--snw-font-main);
  font-weight: 400;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 16px;
}

.fullbleed {
  margin: 0;
  height: 100vh;
}