paper-button {
  color: var(--snw-text-color);
  background: var(--snw-main-color);
}

paper-dialog {
  background-color: var(--snw-main-color);
  color: var(--snw-text-color);
}

paper-dialog h1, paper-dialog h2, paper-dialog h3, paper-dialog h4, paper-dialog h5, paper-dialog h6 {
  overflow: visible;
  padding: 0 1em;
  text-align: center;
}

paper-tabs {
  background-color: #424b4b;
  color: #d7d6d0;
}

.link {
  @apply(--layout-horizontal);
  @apply(--layout-center-center);
}
